
//colors
$color-light-grey: #E4E4E4;
$color-dark: #000;
$color-white: #fff;
$color-grey:#656565;

//sizes
$max-width: 1300px;

@mixin centered {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

}

